{% extends 'Student/base.html' %}
{% load static %}
{% block title %}View Cources{% endblock %}
{% block body %}
    <div class="mx-3 my-3">
        {% if data %}
            <div class="container">
                <h3 class="text-center mb-5"> {{ courseCat.Course_Category|title }} Category</h3>
                <div class="row">
                    {% for i in data %}
                        <div class="col-md-4">
                            <div class="card mb-3" style="width: 18rem;">
                                <img class="card-img-top" src="{% static 'media' %}/{{ i.Image }}" height="200"
                                     alt="Category Img">
                                <div class="card-body bg-primary">
                                    <h5 class="card-title text-light text-center">{{ i.Course_Title|title }}</h5>
                                    <p class="card-text text-light text-center">Cost: {{ i.Price }}</p>
                                    <a href="{% url 'View Course Detail' i.id %}"
                                       class="btn btn-danger rounded-pill btn-block">Detail</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h3 class="text-center mt-5">No Cource Record Found At This Category</h3>
        {% endif %}
    </div>
{% endblock %}