{% extends 'Teacher/base.html' %}
{% load static %}
{% block title %}Paid Fee{% endblock %}
{% block body %}
    {% if fee %}
        <div class="container">
            <h3 class="text-center mb-5">Students Fee Payment Detial</h3>
            <table class="table">
                <tr>
                    <th>S.No</th>
                    <th>Date</th>
                    <th>Student</th>
                    <th>Course</th>
                    <th>Course Price</th>
                    <th>Duration</th>
                    <th>Paid Amount</th>
                    <th>IBAN</th>
                </tr>
                {% for i in fee %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.Date }}</td>
                        <td>{{ i.Student.Name }}</td>
                        <td>{{ i.Course.Course_Title }}</td>
                        <td>{{ i.Course.Price }}</td>
                        <td>{{ i.Course.Content_Duration }}</td>
                        <td>{{ i.Amount }}</td>
                        <td>{{ i.IBAN }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    {% else %}
        <h3 class="text-center mb-5">You Don't Have Any Fee Payment Record</h3>
    {% endif %}
{% endblock %}